<%= form_for @technician do |f|%>

    <%= render partial: "layouts/errors", locals: {object: @technician} %>

    <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
    </div>

    <div class="field">
    <%= f.label :phone_number %>
    <%= f.text_field :phone_number %>
    </div>

    <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
    </div>

    <div class="field">
    <%= f.label :category %> 
    <%= f.text_field :category %>
    </div>

    <div class="field">
    <%= f.label :about %> 
    <%= f.text_area :about %>
    </div>
    

    <%= f.submit %>

<% end %>