<h1>Technicians</h1> 

<%= render 'search' %> 

<ul>
<% @technicians.each do |tech| %> 
    <% if current_user.management == false %> 
        <p><strong><li><%= tech.name %> - <%= tech.category %></strong>
        <br>
        <%= technician_details(tech) %>
        <br>
        <%= link_to "Book Technician", new_technician_appointment_path(tech) %></li>
        </p>
    <% else %>
        <li><strong><%= tech.name %> - <%= tech.category %></strong>
        
        <br>
        <%= link_to "Edit Technician", edit_technician_path(tech) %> <br>
        <%= link_to "View Appointments", technician_appointments_path(tech) %>
        </li> 
    <% end %>  
<% end %> 
</ul>

<br>
<% if current_user.management == true %>
<h2>Create a new Technician</h2>
    <%= link_to "Create New Technician", new_technician_path %>
<% end %>



