<h1>Technicians</h1> 
<%= form_tag("/technicians", method: "get") do %>
    <%= label_tag(:q, "Search By Name:") %>
    <%= text_field_tag(:q) %>
    <%= submit_tag("Search") %>
<% end %>

<%= form_tag(technicians_path, method: "get") do %>
    <%= label_tag(:technician_id, "Filter by Category:") %>
    <%= collection_select(:technician, :category, Technician.all, :category, :category, include_blank: "Any") %>
    <%= submit_tag("Filter") %>
<% end %>

<br>


<ul>
<% @technicians.each do |tech| %> 
    <% if current_user.technician == false %> 
        <li><%= link_to tech.name, technician_path(tech) %> 
        <%= tech.category %> 
        
        <%= link_to "Book Technician", new_technician_appointment_path(tech) %></li>
    <% else %>
        <li><%= link_to tech.name, edit_technician_path(tech) %> 
        <%= tech.category %> 
        
        <%= link_to "View Appointments", technician_appointments_path(tech) %>
        </li>
    <% end %>
<% end %> 
</ul>

<%= link_to "Create New Technician", new_technician_path %>
