<h1>Technicians</h1> 
<%= form_tag("/technicians", method: "get") do %>
    <%= label_tag(:q, "Search For Category:") %>
    <%= text_field_tag(:q) %>
    <%= submit_tag("Search") %>
<% end %>
<br>


<ul>
<% @technicians.each do |tech| %> 
    <li><%= link_to tech.name, technician_path(tech) %> 
    <%= tech.category %> 
    <%= tech.rating %> 
    <% if current_user.technician == false %> 
        <%= link_to "Book Technician", new_technician_appointment_path(tech) %></li>
    <% else %>
        <%= link_to "View Appointments", technician_appointments_path(tech) %>
    <% end %>
<% end %> 
</ul>
