<h1>Sign Up</h1>

<%= form_for(@user) do |f| %> 
    
    <%= render_error(@user) %>

    <div class="field">
        <%= f.label :name %>
        <%= f.text_field :name %>
    </div>
    
    <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email %>
    </div>

    <div class = "field">
    <%= f.label :phone_number %>
    <%= f.text_field :phone_number %>
    </div>

    
    <%= f.label :username %>
    <%= f.text_field :username %>
    <br>
    <%= f.label :password %>
    <%= f.password_field :password %>
    <br>
    <%= f.label "Check box if you are part of Management" %>
    <%= f.check_box :management %>
    <br>
    <%= f.submit %>
    <br>
<% end %> 
    