
<div style="color:red"><strong><%= flash[:error] %></strong></div>

<h1>Welcome <%= @user.name %>!</h1>


<% if @user.phone_number.nil? %>
    You have not updated your phone number. Please update your phone number under "My Profile".
<% end %>

<% if @user.management == false %> 
    <h2>Below you can find your Appointments: </h2>
    

    <ul>
        <% @user.appointments.each do |app| %> 
        <li> <strong>Appointment with: </strong><%= app.technician.name %> <br><strong>Confirmed for:</strong> <%= app.date.strftime("%A, %b %d") %> <br>
            <%= link_to "More Details", appointment_path(app) %> 
            
        </l1>
        
        <% end %> 
        
    </ul>

    <h2>Create new appointment</h2>
    <%= link_to "View Technicians", technicians_path %> 

<% else %> 
    <h2>To view and edit Technicians</h2>
    <%= link_to "Click here", technicians_path %> 
    <br>
 
    
<% end %>