<h1>Edit Appointment</h1>

<%= form_for @appointment do |f| %>

    <%= render_error(@appointment) %>

    <%= f.label :date %> 
    <%= f.datetime_field :date %> 
    <br>
    <%= f.label :issue %> 
    <%= f.text_area :issue %> 

    <%= f.submit %>

<% end %> 

<p>If you would like to delete this appointment <%= link_to "Click Here", appointment_path(@appointment), method: "delete" %> <p>

