<h1>Book Your Appointment</h1>

<%= flash[:error] %>
<br>

<%= form_for @appointment do |f| %>

    <%= render partial: "layouts/errors", locals: {object: @appointment} %>

    <%= f.label :date %> 
    <%= f.datetime_field :date %> 
    <br>
    <%= f.label :issue %> 
    <%= f.text_area :issue %> 

    
    <br> 
    <% if !params[:technician_id] %> 
        <%= f.label :technician_id, "Technician"%> 
        <%= f.collection_select :technician_id, Technician.all, :id, :name, prompt:true %>
    <% else %> 
    
        <%= f.hidden_field :technician_id, value: @tech.id %>
    <% end %>

    <br>
    <%= f.submit %>
<% end %>
