<h1>Appointment Information</h1>

<h3>You have a scheduled appointment on:</h3>
<p><%= formatted_date(@appointment)%></p>

<h3>Your Technician:</h3>
    <p><%= @appointment.technician.name %> - <%= @appointment.technician.category %> </p>
    <p><%= link_to "More Details", technician_path(@appointment.technician) %>

    
<h3>Issue:</h3>
    <p><%= @appointment.issue %> 

<h4>If you would like to edit this appointment <%= link_to "Click Here", edit_appointment_path(@appointment) %> </h4>
