<!DOCTYPE html>
<html>
  <head>
    <title>HandymanFinder</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="background-color:rgb(176, 196, 222)">
  
  <% if logged_in? %>
  <nav class="navbar">
  <%= link_to "Home", user_path(current_user) %> <%= link_to "Log Out", logout_path, method: "delete" %> <%= link_to "My Profile", edit_user_path(current_user)%></nav>
  <% end %>
    <%= yield %>
  </body>

<footer class="footer">
  <p>Posted by: Lester Young</p>
  <p>Contact information: Lyoung070789@gmail.com</p>
</footer>

</html>
